.navbar-inverse {
    background-color: white;
    border-color: white;
	color:red;
}
#myNavbar{
    background-color: white;
    border-color: white;
	color:red;
}
#myNavbar:hover{
  
	color:white;
}